@import url("https://fonts.googleapis.com/css2?family=Monofett&family=Playfair+Display:ital,wght@0,400;0,600;0,900;1,400;1,600;1,900&display=swap"); //Monofett & Playfair

$main-font: "Playfair Display", serif;

body,
html {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	background-color: black;
}

.nav {
	font-family: $main-font;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

ul {
	display: grid;
	grid-template-columns: 1fr repeat(5);
	grid-template-rows: auto;
	grid-template-areas:
		"vorname . . . ."
		". projects . . ."
		". . about-me . ."
		". . . contact ."
		". . . . surname";
	list-style: none;
	width: 70%;
}

.vorname {
	grid-area: vorname;
	font-size: 5rem;
	justify-self: start;
}

.projects {
	grid-area: projects;
	font-size: 2rem;
	justify-self: center;
}

.about-me {
	grid-area: about-me;
	font-size: 2rem;
}

.contact {
	grid-area: contact;
	font-size: 2rem;
}

.surname {
	grid-area: surname;
	font-size: 5rem;
	justify-self: end;
}
